DATABASE_URL="postgresql://postgres.oycrlfuoocsxnllkxtnj:[YOUR-PASSWORD]@aws-0-us-east-2.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.oycrlfuoocsxnllkxtnj:[YOUR-PASSWORD]@aws-0-us-east-2.pooler.supabase.com:5432/postgres"
JWT_SECRET="cambia-esto-por-64-caracteres-aleatorios-en-produccion-xxxxxxxxxxxx"
ANTHROPIC_API_KEY=""
APP_ORIGIN="http://localhost:3000"
NEXT_PUBLIC_SUPABASE_URL="https://oycrlfuoocsxnllkxtnj.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY=""
SUPABASE_SERVICE_ROLE_KEY=""
